@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 2s; 
    font-family: 'Lumanosimo','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 } 
 

body{
    background:url('../images/fondo.png') no-repeat center center/cover;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end ;
    text-align: center;
    padding: 15px;
}

section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55vw;
    margin: 2em, auto;
    overflow: hidden;
    gap:5px;
}



h1, p, input{
    color:azure;
    /* font-size: 1.4em; */
    text-shadow: 5px 5px 5px black;
    line-height: 2em;
    text-align: center;
   
}

#juegoActivo{
    display: none;
}

#numeroIngresado{
background-color:violet;
color:black;
}

#numeroIngresado::placeholder{
    color:black;
}

button{
    font-size: 2em;
    width: 90%;
    border-radius: 10px;
    margin: 15px 0;
    text-shadow: 5px 5px 5px black;
    box-shadow: 5px 5px 5px black;
    text-align: center;

}

button:hover{
    color:white;
    background-color: black;
}
input{
    width: 90%;
    height: 50px;
}

.mensaje{
    color: black;
    font-weight: bolder;
}

#contacto p{
    text-align: right;
    align-items: end;
    font-size: 15px;
    color: wheat
}

#luma{
    width: 20px;
}


@media screen and (max-width: 600px) {
    section{
    width: 90vw;    
    }
    button{
        font-size: 1em;
    }
    p{
        color:midnightblue;
        text-shadow: 2px 2px 2px blue;
    }
    
}