@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 2s; 
    font-family: 'Lumanosimo','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 } 
 

body{
    background:url('./images/fondo.png') no-repeat center center/cover;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
    text-align: center;
    
}


div{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    width: 600px;
    margin: 2em, auto;
    overflow: hidden;
  
}



h1, p, textarea{
    color:azure;
    font-size: 1.4em;
    text-shadow: 5px 5px 5px black;
    line-height: 2em;
    text-align: center;
   
}

#juegoActivo{
    display: none;
}

#numeroIngresado{
background-color:violet;
color:black;
}

#numeroIngresado::placeholder{
    color:black;
}

button{
    font-size: 2em;
    width: 80%;
    border-radius: 10px;
    margin: 15px 0;
    text-shadow: 5px 5px 5px black;
    box-shadow: 5px 5px 5px black;
    text-align: center;

}

button:hover{
    color:white;
    background-color: black;
}

textarea{
    width: 90%;
    background: none;
    border: none;
    
}

#contacto p{
    text-align: right;
    align-items: end;
    font-size: 15px;
}

#luma{
    width: 20px;
}
